html {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

body {
    background-color: #EEEEEE;
    overflow-x: hidden;
    min-height: 100%;
    position: relative;
    margin: 0;                      /*на будущее: именно это спасает подвал от неприжатости к леву и праву*/
}

main {
    padding-bottom: 300px;
}

footer {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0;
    background-color: #CBB5B5;
    white-space: nowrap;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

abbr {
    text-decoration: none;
}

#headerInfo {
    right: 0;
    left: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 40px;
}

#contacts {
    grid-column: 9;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    margin: 6px 10px;
}

#search {
    grid-column: 5;
    max-height: max-content;
    left: 0;
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: 10px;
    border-radius: 30px;
    padding-left: 10px;
}

#canvas1 {
    height: 150px;
}

#headerButtons {
    position: absolute;
    right: 0;
    top: 48px;
    display: inline-flex;
}

.headerButtonsStyle {
    margin-right: 50px;
    margin-left: 10px;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding: 6px 15px;
    font-family: "Montserrat";
    font-weight: 600;
}

.shopName {
    background-color: transparent;
    margin-right: 130px;
    color: #EEEEEE;
}

.headerLinks {
    transition: all 300ms ease;
}

.headerLinks:hover {
    color: #CB5858;
}

#categoryDescription {
    margin-left: 150px;
    margin-top: 200px;
    display: inline-block;
}

.combobox {
    border-radius: 30px;
    font-family: "Montserrat";
    font-size: 16;
    font-weight: 600;
    padding: 5px 10px;
    background-color: #CBB5B5;
    color: #EEEEEE;
    text-align: center;
}

.description {
    font-family: "Montserrat";
    font-size: 20;
    font-weight: 600;
    text-align: center;
}

.name {
    font-size: 28;
    margin: 90px 0px 40px 0px;
}

#descriptionImg {
    position: absolute;
    right: -150px;
    top: 140px;
    width: 600px;
    border-radius: 1000px;
    border: 15px solid #CBB5B5;
    z-index: -1;
}

#bouquetsValue {
    width: 100%;
    margin-top: 150px;
}

#value {
    display: table;
    margin: 0 auto;
}

.bouquetsGrid {
    margin: 80px 150px 20px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.product {
    margin: 10px 10px;
}

.mainBouquetInfo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    background-color: #CBB5B5;
    border-radius: 30px;
}

.bouquetText {
    font-family: "Montserrat";
    font-size: 20;
    font-weight: 600;
}

.bouquetPrice {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
}

.priceInfo {
    margin: 15px 20px;
}

.bouquetDescription {
    margin: 20px 0px 40px 0px;
    display: block;
}

.bouquetImg {
    max-width: 100%;
    border-radius: 30px;
}

.footerGrid {
    height: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1.2fr 0.2fr;
    grid-template-rows: 0.2fr 1.8fr 0.2fr;
}

.footerBlock {
    align-content: center;
}

.footerElement {
    display: inline-flex;
    flex-direction: column;
    font-family: "Montserrat";
    font-size: 18;
    font-weight: 600;
}

.footerLink {
    margin: 5px 10px;
}

.blockHeading {
    font-family: "Montserrat";
    font-size: 24;
    font-weight: 600;
    margin-top: 0px;
}

#userAgreement {
    text-align: center;
    margin-top: 21px;
    font-family: "Montserrat";
    font-size: 18;
    font-weight: 600;
}

.contactsFooter {
    text-align: right;
}

.company {
    position: absolute;
    bottom: 50px;
    right: 60px;
}